h1 {
  text-align: left;
  font-size: 27px;
  font-family: Cambria;
  color: white;
}
body{
  background-color: black
}

p{
  text-align: left
  font-family: Cambria;
  font-size: 19px;
  color: white;
  
}


li{
  display: inline;
  float: right;
  padding: 7px;
 margin: 5px;
  font-size: 19px;
 
}

li a {
  color: white;
  text-decoration: none;
  
}
li a:hover {
  background-color: red;
}

li a:nth-child(even):hover {background-color: white;}
