body{
  background-color:black;
}
h1 {
  text-align: left;
  font-size: 26px;
  font-family: Cambria;
  color: gold;
}


li{
  display: inline;
  float: right;
  padding: 7px;
 margin: 5px;
  font-size: 19px;
 
}

li a {
  color: gold;
  text-decoration: none;
  
}
li a:hover {
  background-color: red;
}

li a:nth-child(even):hover {background-color: white;}

p{
  color: gold;
  font-size: 15px;
  
}
li{
  color: gold;
  
}
div{
  color: gold;
  text-align: left;
  font-size: 13px;
  list-style-type: circle;
}
img{
  float: right;
  position: relative;
  top: -260px;
}
